<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
    <servers>
        <server>
            <id>registry.hub.docker.com</id>
            <username>${env.DOCKERHUB_USERNAME}</username>
            <password>${env.DOCKERHUB_PASSWORD}</password>
            <configuration>
                <email>${env.EMAIL}</email>
            </configuration>
        </server>
        <server>
            <username>${env.ARTIFACTORY_USERNAME}</username>
            <password>${env.ARTIFACTORY_TOKEN}</password>
            <id>central</id>
        </server>
        <server>
            <username>${env.ARTIFACTORY_USERNAME}</username>
            <password>${env.ARTIFACTORY_TOKEN}</password>
            <id>snapshots</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>zesticio-central-libs-release</name>
                    <url>https://zesticio.jfrog.io/artifactory/zesticio-central-libs-release</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>zesticio-central-libs-snapshot</name>
                    <url>https://zesticio.jfrog.io/artifactory/zesticio-central-libs-snapshot</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>zesticio-central-libs-snapshot</name>
                    <url>https://zesticio.jfrog.io/artifactory/zesticio-central-libs-snapshot</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>bintray-plugins</name>
                    <url>https://jcenter.bintray.com</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
</settings>
